<!-- Botón para tomar una foto -->
<button class="button" (click)="navigateToSharedCamera()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none" class="svg-icon">
        <g stroke-width="2" stroke-linecap="round" stroke="#fff" fill-rule="evenodd" clip-rule="evenodd">
            <path
                d="m4 9c0-1.10457.89543-2 2-2h2l.44721-.89443c.33879-.67757 1.03131-1.10557 1.78889-1.10557h3.5278c.7576 0 1.4501.428 1.7889 1.10557l.4472.89443h2c1.1046 0 2 .89543 2 2v8c0 1.1046-.8954 2-2 2h-12c-1.10457 0-2-.8954-2-2z">
            </path>
            <path d="m15 13c0 1.6569-1.3431 3-3 3s-3-1.3431-3-3 1.3431-3 3-3 3 1.3431 3 3z"></path>
        </g>
    </svg>
    <span class="label">Tomar Foto</span>
</button>

<h1>GALERÍA</h1>

<!-- Galería con imágenes -->
<section class="gallery-section" *ngIf="images$ | async as images; else noImages">
    <div class="wrapper">
        <div *ngFor="let image of images; let i = index" class="item">
            <div class="polaroid">
                <img [src]="image.photoURL" alt="Imagen de la galería">
                <div class="caption">
                    Imagen {{ i + 1 }}
                    <button class="delete-btn" (click)="deleteImage(image.id)">ELIMINAR</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Mensaje cuando no hay imágenes -->
<ng-template #noImages>
    <p>No hay imágenes compartidas disponibles.</p>
</ng-template>